services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dockerfile
    ports:
      - "5000:5000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dockerfile
    ports:
      - "5500:80"
